body {
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.navbar{
    /* height: 100px; */
    border:none;
    border-style: none;
    margin-bottom: 0px;
}

.navbar-brand {
    display: inline-block;
}

ul li {
    display: inline-block;
}

ul li a {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    float: left;
}

.navbar h1 {
    font-family: 'Crete Round', serif;
    font-size: 20px;
    color: #444;
    margin-top: 20px;
    margin-bottom: 30px;
}

#main-image {
    background: url('./images/1.1\ Main.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    /* margin-top: 50px; */
    padding-top: 10px;
    padding-bottom: 100px;
}

#main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0px 40px 0px;
    margin-bottom: 20px;
}

.button-1 {
    display: block;
    width: 120px;
    height: 50px;
    background-color: orange;
    color: white;
    margin: 0 auto;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
}

.button-1:hover {
    background-color: blue;
    text-decoration: none;
    color: white;
}

#steps ul {
    margin: 80px 0;
}

#steps p {
    margin-bottom: 20px;
}

#steps ul li {
    list-style-type: none;
    /* float: left; */
    padding-top: 140px;
    text-align: center;
}

#step-1 {
    background: url('./images/1.3\ Steps\ Icon\ 1.png') no-repeat top center;
}

#step-2 {
    background: url('./images/1.5\ Steps\ Icon\ 2.png') no-repeat top center; 
}

#step-3 {
    background: url('./images/1.2\ Steps\ Icon\ 3.png') no-repeat top center;
}

#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#possibilities {
    background-color: #efefef;
    padding: 60px 50px;
}

#possibilities article {
    /* width: 100%; */
    /* height: 270px; */
    /* float: left; */
    border-radius: 10px;
    padding-left: 0;
    margin-top: 20px;
}

/* #possibilities article:first-child{
    margin-right: 20px;
    margin-left: 150px;
} */

.overlay {
    background: rgba(255, 255, 255, 0.95);
    height: 100%;
    width: 60%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    text-align: center;
} 

article h4 {
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

small {
    font-size: 13px;
    font-style: italic;
}

#possibilities p {
    text-align: center;
    margin-bottom: 20px;
}

.button-2 {
    color: white;
    background-color: orange;
    padding:6px 20px;
    border-radius: 3px;
    width: 100%;
}

.button-2:hover{
    color: white;
    background-color: blue;
    text-decoration: none;
}

@media screen and (max-width: 400px){
    .button-2{
        display: none;
    }
}

h3 {
    font-size: 30px;
    color: #444;
}

#contact {
    padding:60px 0;
    text-align: center;
}

#contact h3 {
    text-transform: uppercase;
    text-align: center;
    /* width: 400px; */
    /* border-bottom: 1px solid #02b8dd; */
    padding-bottom: 20px;
}

hr{
    width: 25%;
    border-top: 2px solid #02b8dd;
    /* size: 6px;  */
    
}

form {
    margin: 60px 0 20px 0;
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}

input {
    font-size: 20px;
    padding:10px;
    margin-right: 20px;
}

footer{
    background-color: #444;
}


.orange {
    color: orange;
}

footer h1 {
    color: white;
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 30px;
    color: #444;
}
.Copyright {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
